.vscode

backend/.vscode
backend/Vanir.API/bin
backend/Vanir.API/obj
backend/Vanir.API/Logs
backend/Vanir.API/Properties
backend/Vanir.API/appsettings.Development.json
backend/Vanir.API/appsettings.json
backend/Vanir.Application/bin
backend/Vanir.Application/obj
backend/Vanir.IntegrationTests/bin
backend/Vanir.IntegrationTests/obj
backend/Vanir.UnitTests/bin
backend/Vanir.UnitTests/obj
backend/Vanir.Infrastructure/bin
backend/Vanir.Infrastructure/obj
backend/Vanir.Infrastructure/Migrations
backend/Vanir.Domain/obj
backend/Vanir.Domain/bin
backend/Vanir.Utilities/bin
backend/Vanir.Utilities/obj
backend/.DS_Store
backend/Vanir.API/dump.rdb
backend/Makefile

frontend/node_modules
frontend/.pnp
frontend/.pnp.js
# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/ssl

frontend/.eslintrc
frontend/.eslintignore
frontend/.prettierrc

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*